
  <h1>Welcome to Facebook!</h1>

  <a href="/status/new">New Status</a>
 
 <hr >

  <% @status.each do |status| %>
  <a href="/status/<%= status.id %>/edit">
  <p><%= status.body %></p></a> 
  Commented by: <%= status.user.try(:username) %>
  
  <a href="/status/<%= status.id %>/likes"><p>Like me</p></a>
 <% @count = status.likes.count %>
  Total likes: <%= @count %> 

 Tags#
<% status.tags.each do |t| %>
<%= t.name %>,
<% end %>
  


  <p>comments:</p>
  <% status.comments.each do |c| %>
  <a href="/comment/<%= c.id %>/edit">
  <p><%= c.body %></p></a>
   <% end %>

  <p><a href="/<%= status.id %>/comments/new">New Comment</a></p>

  <hr >
 
  <% end %>

